/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: flex;
  clear: both;
}
/* /general */

/* container */
.container {
  width: 80%;
  margin: auto;
}
/* /container */

/* header */
header {
  height: 15vh;
  background-color: pink;
  margin: 3vh 0;
}
/* /header */

/* main */
.banner {
  height: 76vh;
  background-color: khaki;
  margin-bottom: 3vh;
}
/* /main */

/* section */
section {
  background-color: blue;
}

.section-heading {
  height: 70px;
  background-color: lightblue;
}

section .row {
  padding: 15px 0;
}

.col.left, .col.right {
  width: 25%;
}
.col.center {
  margin: 0 10px;
  width: calc(50% - 20px);
}

.row > .col {
  float: left;
  background-color: lightblue;
  height: 500px;
}
